.body-message {
  height: 970px;
}

.input-block {

  border-radius: 5px;

}


.message {
  border-radius: 36px;
  background-color: #d9fdd3;
  width: 150px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 500px;
}

.incoming-message {
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.582);
  width: 150px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.input {
  width: 600px;
  border-radius: 36px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}

.button {
  position: relative;
  color: #fff;
  padding: 20px 20px;
  font-size: 40px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 40px;
}

.button:before {
  content: '';
  position: absolute;
  transform: translateY(-50%);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(128, 128, 128, 0.842);
}
