.form-container {
  margin-top: 20px;
}

.list-chats {

  margin-top: 50px;
  width: 500px;
  height: 45px;
 
}

.list-item {
  margin-left: 30px;
  margin-right: 40px;
 
}

.container-listItem {
 
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
}



.title-span {
  padding-left: 20px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(231, 166, 85, 0.849);
  position: relative;

}

.arrow-down::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-block {
  position: absolute;
  margin-left: 340px;

}
