.chat {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 1200px;
  margin: auto;
  margin-top: 220px;
  margin-bottom: 220px;
}

.chat-container {
  background-color: rgb(217 161 87 / 10%);
  height: 1325px;
  
}

.list-chat {
  height: 1325px;
  background-color: #fbfbfb;
}
