.chat {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 1200px;
  margin: auto;
  margin-top: 20px;
}

.chat-container {
  background-color: rgba(250, 235, 215, 0.452);
}

.list-chat {
  height: 1325px;
  background-color: #fbfbfb;
}
