img {
  border-radius: 46px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.header-listChat {
    background-color: #edeef0a8;
    height: 100px;
    width: 500px;
}

.menu-container {
  position: relative;
  display: inline-block;
  margin-top: 50px;
}

.create-chat {
  font-size: 18px;
  font-family: cursive;
  color: cadetblue;
  cursor: pointer;
}


.header-block {
  display: flex;
  justify-content: space-around;
}

.header-avatar {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}